In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("boston.csv")
df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [6]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [7]:
df.shape

(506, 14)

In [8]:
input_data = df.iloc[:,:-1]

In [9]:
output_data=df["MEDV"]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.20)

In [14]:
x_train,y_train

(         CRIM    ZN  INDUS  CHAS     NOX     RM   AGE     DIS  RAD    TAX  \
 237   0.51183   0.0   6.20     0  0.5070  7.358  71.6  4.1480    8  307.0
 304   0.05515  33.0   2.18     0  0.4720  7.236  41.1  4.0220    7  222.0
 384  20.08490   0.0  18.10     0  0.7000  4.368  91.2  1.4395   24  666.0
 11    0.11747  12.5   7.87     0  0.5240  6.009  82.9  6.2267    5  311.0
 156   2.44668   0.0  19.58     0  0.8710  5.272  94.0  1.7364    5  403.0
 ..        ...   ...    ...   ...     ...    ...   ...     ...  ...    ...
 281   0.03705  20.0   3.33     0  0.4429  6.968  37.2  5.2447    5  216.0
 397   7.67202   0.0  18.10     0  0.6930  5.747  98.9  1.6334   24  666.0
 227   0.41238   0.0   6.20     0  0.5040  7.163  79.9  3.2157    8  307.0
 61    0.17171  25.0   5.13     0  0.4530  5.966  93.4  6.8185    8  284.0
 504   0.10959   0.0  11.93     0  0.5730  6.794  89.3  2.3889    1  273.0

      PTRATIO       B  LSTAT
 237     17.4  390.07   4.73
 304     18.4  393.68   6.93
 384     20.2  285.83  30.63
 11      15.2  396.90  13.27
 156     14.7   88.63  16.14
 ..       ...     ...    ...
 281     14.9  392.23   4.59
 397     20.2  393.10  19.92
 227     17.4  372.08   6.36
 61      19.7  378.08  14.44
 504     21.0  393.45   6.48

 [404 rows x 13 columns],
 237    31.5
 304    36.1
 384     8.8
 11     18.9
 156    13.1
        ...
 281    35.4
 397     8.5
 227    31.6
 61     16.0
 504    22.0
 Name: MEDV, Length: 404, dtype: float64)